# Data Science Tools and Ecosystem

Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Examples of evaluating arithmetic expressions in Python
- How to share your notebook through GitHub

#### Data Science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Julia

#### Data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. TensorFlow
4. SciPy

#### Data Science tools


| Data Science Tools | 
|---|
| IBM Watson <br/> SAS <br/> Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [1]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [2]:
200/60

3.3333333333333335

## Author
Diana Serme√±o